<header class="navbar navber-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "勤怠システム", root_url, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "トップへ", "#" %></li>
        <li><%= link_to "ログイン", "#" %></li>
      </ul>
    
    </nav>
  </div>
</header>